$background-color-light: #ffffff;
$background-color-dark: #333333;
$text-color-light: #000000;
$text-color-dark: #ffffff;

body {
  margin: 0;
  padding: 0;

  // Light mode styles
  .light-mode {
    background-color: $background-color-light;

    .add-button {
      background-color: #3b82f6;
      color: #fff;
    }

    .add-button:hover {
      background-color: #2563eb;
    }

    .header-img {
      border: 1px solid black;
    }
  }

  // Dark mode styles
  .dark-mode {
    background-color: $background-color-dark;
    height: 100vh;
    overflow-y: auto;

    .background {
      height: 100vh;
    }

    .toggle-container{
      color: $text-color-dark;
    }

    p {
      color: white;
    }

    h1 {
      color: $text-color-dark;
    }

    .add-button {
      background-color: red;
    }

    .add-button:hover {
      background-color: cornflowerblue;
    }

    .message-card {
      background-color: rgb(141, 14, 14);
      color: $text-color-dark;
    }

    .edit-btn {
      color: yellow;
    }

    .time-posted,
    .message-category,
    .close-btn {
      color: $text-color-dark;
    }

    .header-img {
      border: none;
    }

    label {
      color: $text-color-dark;
    }

    .beacon {
      animation: pulse-dark 2s infinite;
    }

    @keyframes pulse-dark {
      0% {
        box-shadow: 0 0 0 0 rgb(0, 255, 21);
      }
      70% {
        box-shadow: 0 0 0 5px rgba(118, 138, 255, 0);
      }
      100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
      }
    }
  }
}

// Global styles (not related to light/dark mode)
.header-img {
  width: 100%;
  max-width: 90px;
  max-height: 90px;
  height: 100%;
  border-radius: 50%;
  padding: 2px;
}

.error-heading{
  color: red;
  text-align: center;
  margin: 40px;
}

.add-button {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  background-color: #3b82f6;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.message-textarea {
  width: 100%;
  min-height: 200px;
  resize: vertical;
}

.message-form {
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
}

.message-card {
  width: 100%;
  max-width: 600px;
}

.category-button {
  margin: 5px;
  border-radius: 10px;
  animation: slideInFromLeft 0.5s ease forwards;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.filter-button {
  background-color: red;
  border: none;
}

.beacon {
  background-color: transparent;
  border-radius: 14%;
  animation: pulse 2s infinite;
  margin: 5px;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(206, 0, 0, 0.7);
  }
  70% {
    box-shadow: 0 0 0 5px rgba(255, 230, 230, 0.4);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.card-image {
  max-height: 400px;
  max-width: 550px;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: 10%;
}

@media (max-width: 1200px) {
  .message-card {
    max-width: 90%;
  }

  .message-form {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .add-button {
    height: 40px;
    padding: 8px;
  }

  .header-img {
    max-width: 70px;
    max-height: 70px;
  }

  .card-image {
    max-height: 300px;
    max-width: 400px;
  }

  .message-card {
    max-width: 100%;
  }

  .message-form {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .add-button {
    height: 55px;
    padding: 10px;
  }


  .header-img {
    max-width: 50px;
    max-height: 50px;
    margin: 10px;
  }

  .card-image {
    max-height: 200px;
    max-width: 300px;
  }

  .message-card {
    max-width: 100%;
  }

  .message-form {
    max-width: 100%;
  }
}
