body {
    margin: 0;
    padding: 0;
}

.header-img{
    width: 100%;
    max-width: 90px;
    max-height: 90px;
    height: 100%;
    border-radius: 50%;
    padding-bottom: 20px;
}

.add-button{
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    background-color: cornflowerblue;
    height: 50px;
    margin: 6px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.add-button:hover{
    background-color: #0b5ed7;
}

.message-textarea{
    width: 100%;
    min-height: 200px;
    resize: vertical;
}

.message-form{
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
}

.message-card{
    width: 100%;
    max-width: 600px;
}