body {
    margin: 0;
    padding: 0;
}

.header-img{
    width: 100%;
    max-width: 90px;
    max-height: 70px;
    height: 100%;
    border-radius: 50%;
    margin: 1px;
}

.add-button{
    height: 50px;
    margin: 6px;
}

.message-textarea{
    width: 100%;
    min-height: 200px;
    resize: vertical;
}

.message-form{
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
}

.message-card{
    width: 100%;
    max-width: 600px;
}